.left-card-wrapper {
    position: relative;
    margin: 20vh 0 0 5vw;
    border: 3px solid #004cff;
    background-color: lightgray;
    border-radius: 2vh;
    min-width: 35vh;
    max-height: 62vh;
    padding: 0 3vw 7vh 2vw;
    box-shadow: #ffdd00 1vw 1vw 2vw -1vw ;
}
