.left-card-wrapper {
    position: relative;
    border: 3px solid #004cff;
    background-color: lightgray;
    border-radius: 20px;
    min-width: fit-content;
    width: 23vw;
    max-height: fit-content;
    padding: 10px 30px;
    box-shadow: #ffdd00 1vw 1vw 2vw -1vw;
}

@media (max-width: 769px) {
    .left-card-wrapper{
        display: flex;
        width: 75%;
        flex-direction: column;
        padding: 5px 15px;
    }
}