.tickets-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 2.5vh;
    line-height: 0;
    text-align: center;
    background-color: aliceblue;
}

.left-side {
    flex-direction: column;
}

.tickets-time {
    font-weight: bold;
    font-size: 3vh;
}

.tickets-country {
    display: flex;
    flex-direction: row;
}

.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.little-line {
    width: 20vw;
    height: 0.1vh;
    background-color: grey;
}

.right-card-middle-picture {
    width: 3vw;
    height: 3.5vh;
    margin: 1vh 0 0 1vw;
    background-repeat: no-repeat;
}

.right-side {
    flex-direction: column;
}