.close-button-wrapper {
    display: flex;
    justify-content: flex-end;
}

.close-button {
    display: inherit;
    justify-content: flex-end;
    height: 25px;
    cursor: pointer;
    font-size: 15px;
    background-color: #ffdd00;
}