.left-card-header {
    position: relative;
    font-size: 3vh;
    margin-bottom: 1vh;
}

.buttons-wrapper {
    display: inline-flex;
    background-color: rebeccapurple;
    border-radius: 1vw;
    border: 0.75vw solid rebeccapurple;
}

