.cryptoElement-wrapperPage {
    display: flex;
    flex-direction: column;
    position: relative;
    border: #0039ff solid 3px;
    border-radius: 20px;
    background-color: #f3ffff;
    margin: 0 auto;
    max-width: fit-content;
    top: 155px;
    z-index: 1;
}

.headers, .values {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
}

.values {
    align-items: center;
}

#icon, #icon-value {
    display: inherit;
    width: 10vw;
    justify-content: center;
}

#name, #name-value {
    display: inherit;
    width: 10vw;
    justify-content: center;
}

#price, #price-value {
    display: inherit;
    width: 20vw;
    justify-content: center;
}

#minPrice, #minPrice-value {
    display: inherit;
    width: 10vw;
    justify-content: center;
}

#maxPrice, #maxPrice-value {
    display: inherit;
    width: 15vw;
    justify-content: center;
}

#marketCup, #marketCup-value {
    display: inherit;
    width: 15vw;
    justify-content: center;
}

@media (max-width: 769px) {
    .cryptoElement-wrapperPage{
        flex-direction: row;
        max-width: 100%;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 10px;
    }
    .headers,.values{
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }
    .headers p,h3,.values p, h3{
        margin: 5px 0;
    }
}