.cryptoElement-wrapperPage {
    display: flex;
    flex-direction: column;
    position: relative;
    border: #0039ff solid 3px;
    border-radius: 20px;
    background-color: #f3ffff;
    top: 150px!important;
    z-index: 1;
}

.headers, .values {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
}

.values {
    align-items: center;
}

#icon, #icon-value {
    display: inherit;
    width: 10vw;
    justify-content: center;
}

#name, #name-value {
    display: inherit;
    width: 10vw;
    justify-content: center;
}

#price, #price-value {
    display: inherit;
    width: 20vw;
    justify-content: center;
}

#minPrice, #minPrice-value {
    display: inherit;
    width: 10vw;
    justify-content: center;
}

#maxPrice, #maxPrice-value {
    display: inherit;
    width: 15vw;
    justify-content: center;
}

#marketCup, #marketCup-value {
    display: inherit;
    width: 15vw;
    justify-content: center;
}