.cryptoElements-wrapper {
    display: flex;
    /*justify-content: space-between;*/
    flex-wrap: wrap;
    border: 3px solid rebeccapurple;
    background-color: lightgray;
    border-radius: 10px;
    margin: 5px;
}

.cryptoName{
    font-size: 20px;
    padding: 10px;
}