.cryptoElements-wrapper {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 3px solid #003eff;
    background-color: lightgray;
    border-radius: 10px;
    margin: 30px 50px 0 30px;
    width: 60vw;
    padding: 20px;
    box-shadow: #ffdd00 1vw 1vw 2vw -1vw ;
    /*align-items: center;*/
}

.cryptoElements-wrapper:first-child {
    margin-top: 100px;
}

.cryptoElements {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cryptoName{
    font-size: 30px;
    font-weight: lighter;
    padding: 20px;
}

.cryptoIcon {
    padding: 15px;
    width: 8vw;
}

.cryptoPrice {
    padding: 5px 0 0 10px;
    font-size: 20px;
}

.seeMoreButton {
    border: 3px solid white;
    border-radius: 20px;
    background-color: #ffdd00;
    padding: 15px 10px 15px 10px;
    margin: 5px 10px 5px 50px;
    font-size: 18px;
    cursor: pointer;
}